
<table>
 <tr>
	 <th><%= form.label :quantity, "数量" %></th>
	 <td><%= form.text_field :quantity %></td>
 </tr>
 <tr>
	<th><%= form.label :date_on, "出荷日" %></th>
	<td><%= form.text_field :date_on %></td>
 </tr>
</table>
<%= link_to "出荷計画一覧に戻る", :shippings %>