
<table>
  	<thead>
	<table>
	<tr>
　　<th>品目コード</th>
　　<th>品目名称</th>
			<% (0..11).each do |n| %>
				<th><%= (Date.current + n.month).month %>月</th>
			<% end %>
	</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
	<tr>
		<td><%= item.code %></td>
		<td><%= item.name %></td>
    <% end %>
</tr>
	<%= link_to "#{@shipping.item&.name}の出荷一覧", shipping_shipping_details_path(@shipping) %>
	<% @shipping_details.each do |shipping_detail| %>
	  <%= link_to "#{shipping_detail.month}月", shipping_shipping_detail_path(@shipping, shipping_detail) %>
	<% end %>

  </tbody>
</table>
<%= link_to "出荷計画一覧に戻る", :shippings %>