<%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>

<h2>出荷計画</h2>
<ul>
	<li><%= link_to "出荷計画一覧", :shippings %></li>
	<li><%= link_to "品目登録", :items %></li>
	<li><%= link_to "出荷明細", :shipping_shipping_details %></li>
	<li><%= link_to "予算明細", :budget_details %></li>
</ul>