
  <tr>
    <th><%= form.label :year_month, "出荷月" %></th>
    <td><%= form.text_field :year_month %></td>
  </tr>
  
    <tr>
    <th><%= form.label :quantity, "数量" %></th>
    <td><%= form.text_field :quantity %></td>
  </tr>
  
    <tr>
    <th><%= form.label :shipping_id, "出荷ID" %></th>
    <td><%= form.text_field :shipping_id %></td>
  </tr>

</tr>
<tr>
    <td>
       <%= text_field_tag :quantity_4 value: "" %>
    </td>
    <td>
       <%= form.text_field :quantity_5 %>
    </td>
    <td>
       <%= form.text_field :quantity_6 %>
    </td>
</tr>